<section class='container'>
  <section class='dashboard-header-text'>
    <%# TODO more robust formatting/link to displays %>
    <h2><%= @stage %> <%= @condition %></h2>
    <br>
  </section>

  <section class='row'>
    <table class='table table-striped table-dark status caption-top' style="width:50%; margin-bottom:5px">
      <caption><h2>Filter by date range</h2></caption>
      <tbody>
        <tr>
          <td>From: <input type="date" name="min" id="min"> </td>
          <td>To: <input type="date" name="max" id="max"> </td>
        </tr>
        <br>
      </tbody>
    </table>
    <table class='table table-striped table-dark status caption-top' id='encounters'>
      <caption><h2>Encounters list</h2></caption>
      <thead>
        <tr>
          <th>Case #</th>
          <th>Last Updated</th>
          <th>Specimen Date</th>
          <th>Episode Date</th>
          <th>Full Name</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Pregnancy</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>

        <% @encounters.each do |encounter| %>
          <tr>
            <td><%= encounter.identifier&.first&.value %><%# TODO do the proper query %></td>
            <td><%= display_date encounter.meta&.lastUpdated %></td>
            <td><%= display_date find_by_subject(@specimen_array, encounter)&.collection&.collectedDateTime %></td>
            <td><%= display_date encounter.period&.start %></td>
            <td><%= display_human_name @patients_hash[encounter.subject.reference]&.name&.first %></td>
            <td><%= display_date @patients_hash[encounter.subject.reference]&.birthDate %></td>
            <td><%= @patients_hash[encounter.subject.reference]&.gender %></td>
            <td><%= find_by_subject(@questionnaire_responses_array, encounter).item.fetch(5)&.answer&.first&.valueCoding&.code %></td>
            <td><%= link_to "View", encounter_path(encounter.id) %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </section>

</section>
